/* @theme ulka-present */

/* @import 'default'; */
@import 'gaia';
/* @import 'uncover'; */

:root {
  --theme-path: "."; /* default, overridden per project */
}

h1 {
    color: red;
}
code{
    border-radius: 5px;
    /* background-color: lightgray; */
}
marp-pre {
    border-radius: 10px
}
footer {
    text-align: right;
    height: 42px;
    padding: 0 10px;
}

section {
    font-size: 25px;
    background-image: url("https://raw.githubusercontent.com/omarfarukof/Marp_template/refs/heads/main/themes/ulka-assets//ulka-content.svg");
    padding: 50px 60px;
    padding-top: 60px;
}
section h1 {
    text-align: left;
}

section::after {
    bottom: 25px
}

section.top-page {
    background-image: url("https://raw.githubusercontent.com/omarfarukof/Marp_template/refs/heads/main/themes/ulka-assets//ulka-title.svg");
    justify-items: center;
    padding-top: 250px;
    padding-bottom: 110px;
    font-size: 35px;
}
section.top-page footer {
    position: absolute;
    top: 575px;
}
section.top-page::after {
    display: none;
}
section.end-page::after {
    display: none;
}

section.toc-page {
    background-image: url("https://raw.githubusercontent.com/omarfarukof/Marp_template/refs/heads/main/themes/ulka-assets//ulka-toc.svg");
    font-size: 30px;
    padding-top: 100px;
    padding-left: 225px;
}

section.toc-page li {
    color: rgb(69, 90, 100);
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 0 silver;
}

section.end-page {
    background-image: url("https://raw.githubusercontent.com/omarfarukof/Marp_template/refs/heads/main/themes/ulka-assets//ulka-end.svg");
    justify-items: center;
    padding-top: 180px;
    padding-bottom: 150px;
    
}

